.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tasks-container {
  border: 1px solid black;
  min-height: 200px;
}

.new-task-container {
  display: flex;
}

.task {
  margin-bottom: 10px;
}

.task-button-container {
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
}
